@CHARSET "UTF-8";
table.board {
	margin-top: 20px;
	margin-bottom: 20px;
	width:100%;
	border-top: 1px solid #808080;
	border-collapse: collapse;
}
tr.board {
	height: 15px;
	text-align: center;
	border-bottom: 1px solid #808080;
	padding: 5px;
}
td.head,th.head {
	height: 15px;
	background-color: #dcdcdc;
	border-bottom: 1px solid #808080;
}
.white {
  color: #000000;
  border: solid 1px #000000;
  font-size: 12px;
  font-weight: bold;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background: -moz-linear-gradient(top,  #ffffff,  #ffffff);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000');
}
.white:hover {
  background: #dcdcdc;
  background: -webkit-gradient(linear, left top, left bottom, from(#dcdcdc), to(#dcdcdc));
  background: -moz-linear-gradient(top,  #dcdcdc,  #dcdcdc);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcdcdc', endColorstr='#dcdcdc');
}
.white:active {
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#bebebe), to(#bebebe));
  background: -moz-linear-gradient(top,  #bebebe,  #bebebe);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bebebe', endColorstr='#bebebe');
}