table.product {
	width:100%;
	border: 1px solid #555555;
	border-collapse: collapse;
}
tr.board {
	border: 1px solid #555555;
	padding: 5px;
	text-align: center;
	height:200px;
}

table.line {
   width:100%;
   border-collapse: collapse;
   background-color: #D5D5D5;
}
td,tr.line {
   height: 10px;
   text-align: left;
   padding: 5px;
   border-bottom: 0px #000000;
}